*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  
}
form input{
  width: 25%;
  margin-top: 30px;
  margin-left: 600px;
  border-radius: 5px;
 padding: 15px;
}

.card{
  display: flex;
  justify-content: center;
  height: 90%;
  margin: 20px;
  padding: 3px;
  box-shadow: 4px 3px 5px 1px rgb(127, 83, 1)
}
h3{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
 
 
}
.card-body{
  background: fixed;
  background-color: rgb(182, 214, 203);
}
.card:hover{
  transform: scale(1.1);
}
.cards {
  display: flex;
  border: 5px solid #ccc;
  margin: 10px;
  width: 900px;
  margin-left: 300px;
  margin-top: 50px;

}
.cards:hover{
  transform: scale(1.1);
}
.ima {
  flex: 0 0 auto; 
}

.right {
  flex: 1; 
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(163, 230, 233); 
}
.right span{
  font-size: 20px;
}
/* .right Link{
  background-color: rgb(230, 230, 230);
  border: 30px;
  padding: 2px;
  margin-left: 150px;
  margin-top: 60px;
  text-decoration: none;
} */
.bt{
  font-size: 30px;
  text-decoration: none;
  border: 1px solid gray;
  margin-top: 40px;
  margin-left: 150px;
  color: black;
  padding: 3px;
  border-radius: 8px;
}
.bt:hover{
  background-color: rgb(75, 75, 154);
}

h1 {
  margin-top: 0;
}


